.title
{
    color:royalblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
 text-align: center;
  
}
.subtitle
{
    color:slategray;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html {
    height: 100%;
    }
    body {
    background-image: linear-gradient(#FFFFFF, rgb(127, 209, 235));
    }
.grid{
    width: 600px;
    height: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}
.grid h1{
    font-family: sans-serif;
    background-color: #99c5ee;
    font-size: 60px;
    text-align: center;
    color:#fff;
    padding: 2px 0px;
    border-radius: 50px;
    cursor: pointer;

}
